*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.hide{
    display: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.center{
    margin: 0 auto;
}
img{
    width: 300px;
}
/* 헤더 */
header{
    width: 100%;
    height: 100px;
    background: #1CCAD3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px; 
    position: relative;
}
main{
    width: 100%;
    margin: 0 auto;
}
footer{
    width: 1440px;
    margin: 0 auto;
}
header h1{
    width: 200px;
    padding: 30px 20px;
    margin-right: 134px;
}
header h1 img{
    width: 179px;
    height: 47px;
}
/* 네비 */
header nav{
    width: 700px;
    z-index: 999;
}
header nav .gnb{
    display: flex;
    gap: 89px;
    margin-top: 0;
    text-align: center;
}
.gnb li{
     line-height: 2;
     position: relative;
     top: 0;
}

.submenu{
  position: absolute;
  top: 80px;
  left: -50px;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;
  width: 200px;
}
.submenu li a {
  display: block;
  font-size: 14px;
  line-height: 2;
}
header nav .gnb li .submenu li a {
  color: #333;
}
.bg{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    display: none;
    z-index: 1;
}
header nav .gnb li a:hover{
    color: #136bb8;
}
.fol_r{
    display: flex;
    gap: 20px;
    align-items: center;
}
.fol_r li{
    float: left;
    margin-right: 20px;
}
header nav .gnb li a, .fol_r li a{
    color: #fff;
}
header nav .gnb li .submenu li a:hover {
  color: #1CCAD3;
}
.submenu, .bg{
    display: none;
}
.text-box{
    padding: 30px 271px;
}
.text-box h2{
    font-size: 25px;
    line-height: 2;
}
.text-box p{
    font-size: 20px;
}
.but-list{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 80px 0;
}
.but-list li{
    font-size: 25px;
    background: #fff; color: #000000;
    padding: 10px 53px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.but-list li.active{
    background: #1CCAD3; color: #fff;
}
.tour-cont{
    width: 340px;
    height: 375px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    margin: 0 auto;
}
.tour-cont img{
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}
.tour-cont p{
    text-align: center;
}

.experience-cont{
    width: 340px;
    height: 375px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    margin: 0 auto;
}
.experience-cont img{
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}
.experience-cont p{
    text-align: center;
}

.class-cont{
    width: 340px;
    height: 375px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    margin: 0 auto;
}
.class-cont img{
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}
.class-cont p{
    text-align: center;
}
.but-cont{
    margin-bottom: 70px;
}

/* 이용약관 */
.rules table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.rules th, .rules td {
  border: 1px solid #ccc;
}
.rules th{
    padding: 10px;
}
.rules th {
  background: #f9f9f9;
  text-align: left;
}
td p{
    padding: 0 10px;
}
.highlight {
  color: red;
  font-weight: bold;
}
.agree-box {
  border: 2px solid #2a8eff;
  padding: 10px 834px;
  border-radius: 5px;
}
.agree-box label{
    text-align: center;
}
.bor{
    border-bottom: 1px solid #ccc;
    line-height: 3;
}
.bor:nth-child(3){
    border-bottom: none;
}
.bor1{
    border-bottom: 1px solid #ccc;
    line-height: 2;
}
.highli{
    padding: 10px;
}
/* 푸터 */
.foot-set{
    display: flex;
    gap: 44px;
    text-align: center;
    line-height: 3;
    color: #C7C7C7;
    margin-top: 20px;
    margin-left: 5px;
}
.foot-set1{
    display: flex;
    gap: 30px;
    text-align: center;
    color: #C7C7C7;
    margin-left: 5px;
}
footer p{
    margin: 20px 0;
    color: #C7C7C7;
    margin-left: 5px;
}

/* Top 버튼 */
.to-top{
  position: fixed;
  right: 24px; bottom: 24px;
  width: 44px; height: 44px;
  border: none;
  border-radius: 999px;
  background: #1CCAD3; color: #fff;
  box-shadow: 0 6px 16px rgba(0,0,0,.16);
  cursor: pointer;
  z-index: 1100;       
  display: grid;
  place-items: center; /*justify-items, align-items 축약형*/

  /* 처음엔 숨김  */
  opacity: 0;
  transform: translateY(12px);
  pointer-events: none; /*클릭 x*/
  transition: opacity .25s ease, transform .25s ease;
}
.to-top:hover{ 
  filter: brightness(1.05); 
}
.to-top.show{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}